:root {
  --font-family: "Inter", "serif";
  --primary-color: #fa000c;
  --secondary-color: #3e4048;
  --text-color: #fefffd;
  --disabled-color: #5e5e5e;
  --background-color: #2d3038;
  --background-dark: #10161c;
  --background-transparent: #3e404860;
  --background-half-transparent: #3e4048cc;
  --error-color: #fa000c;
  --border-radius: 0;
  --header-text-color: var(--text-color);
  --header-background: transparent;
  --header-icon-color: inherit;
  --header-icon-background: transparent;
  --site-padding: 4rem;
  --max-card-size: calc(100vw - (var(--site-padding) * 2));
  --scrollbar-size: 2rem;
}

.ohs-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  border: none;
  background: none;
  text-decoration: none;
  transition: all 0.2s ease;
  .ohs-icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
  }
}

.ohs-icon {
  width: 1em;
  height: 1em;
}
